<html>
<head>
    <title>Login and Register</title>
</head>
<body>
  <h2>Register</h2>

  {% with messages = get_flashed_messages()[0] %}
    {%if messages %}
      {% for message in messages%}
        {{ message }}
      {%endfor%}
    {%endif%}
  {%endwith%}

  <form action='register' method='post'>
      <label>First Name</label>
      <input type='text' name='first_name'>
      <label>Last Name</label>
      <input type='text' name='last_name'>
      <label>Email</label>
      <input type='email' name='email'>
      <label>Password</label>
      <input type='password' name='password'>
      <label>Confirm Password</label>
      <input type='password' name='password_confirmation'>
      <input type='submit' value='Register'
  </form>


    <h1>Enter a Valid Email!</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form action="create" method="post">
        <label>Email Address: </label>
        <input type="text" name="email" />
        <p></p>

        <input type="submit" value="Submit" />
    </form>


    <h1>Valid emails so far</h1>
    <table>
      <tr>
        <th>Email</th>
        <th>Date</th>

      </tr>
      {%for email in emails%}
      <tr>
        <td>{{email.email}}</td>
        <td>{{email.date}}</td>
      </tr>
      {%endfor%}
    </table>

</body>
</html>
